body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}